<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Fit Layout</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" />
        <script type="text/javascript" src="../../adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="../../ext-all-debug.js"></script>
        <script type="text/javascript" src="../../src/locale/ext-lang-zh_CN.js"></script>
        <script type="text/javascript">
Ext.onReady(function(){
    
    var panel = new Ext.Panel({
        title: 'panel',
		html: 'panel',
        viewConfig: {forceFit: true},
        tbar: new Ext.Toolbar(['Add','Modify','Delete']),
 
    });

    var win = new Ext.Window({
		title: 'window',
        width: 400,
        height: 300,
        layout: 'fit',
        items: [panel]
    });
    win.show();
});
        </script>
    </head>
    <body>
        <script type="text/javascript" src="../shared/examples.js"></script>
    </body>
</html>
